body {
  font-family: 'Montserrat', sans-serif;
}

.search-toolbar {
  background-color: #1c967553;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-form-input {
  text-align: center;
  font-size: 15px;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  float: left;
  width: 250px;
  outline: none;
  background: #fcfcfa;
}

.search-form-button {
  float: left;
  width: 50px;
  padding: 10px;
  background: #c3c2c2;
  color: #000;
  font-size: 15px;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: none;
  cursor: pointer;
}

.search-form-button:hover {
  background: #6a6969ce;
}

.search-form::after {
  content: '';
  clear: both;
  display: table;
}

.gallery {
  margin-top:70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  width: 100%;
  height: 100%;
}

.photo-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding: 0;
  width: 360px;
  box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom: 3px; 
}

.photo-card:hover,
.photo-card:focus {
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  transform: scale(1.3);
  transform-style: preserve-3d;
  transition: 1s;
}

.photo {
  display:block;
  height: 250px;
  background-size: cover;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 360px;
  font-size: 11px;
  background-color: rgba(203, 233, 242, 0.887);
}

.info-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.info-item-api {
  padding-top: 5px;
}

.load-more {
  display: flex;
  margin: 10px auto 20px auto;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #1c967553;
  border: none;
  box-shadow: 5px 5px 4px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.load-more:hover,
.load-more:focus {
  transform: scale(1.02);
  animation: 3000ms ease-out 3000ms;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}